{% extends 'pleer\base.html' %}
{% load static %}
{% block title %} Список композиций {% endblock %}

{% block content %}
    {% if all_composition  %}
        {% for i in all_composition  %}
            <a href = "#"> {{i.name}}<br> </a>
            <img src="{{i.cover.url}}" width="189" height="255" > <br>

        {% endfor %}
        <br>

        <div id="controls">
            <div class="audio-track">
                <div class="time">

                </div>
            </div>
            <button class="play">Play</button>
            <button class="pause" id = "pause">Pause</button>
            <button class="prev">&#60;prev</button>
            <button class="next">next&#62;</button>
        </div>
    {% else %}
        НИЧЕГО НЕТ )=
    {% endif %}

{% endblock %}